<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-3">
        <h2>Welcome Admin</h2>
        <small>Lorem Ipsum dolor</small>
        <ul class="list-group clear-list m-t">
            <li class="list-group-item fist-item">
                <span class="pull-right">
                    09:00 pm
                </span>
                <span class="label label-success">1</span> Post 1
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    10:16 am
                </span>
                <span class="label label-info">2</span> Post 2
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    08:22 pm
                </span>
                <span class="label label-primary">3</span> Birthday Message
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    11:06 pm
                </span>
                <span class="label label-default">4</span> Post 3
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    12:00 am
                </span>
                <span class="label label-primary">5</span> Post 4
            </li>
        </ul>
    </div>
</div>

<%= content_for :javascript do %>

<% end %>
