<div class="file-manager">
    <a class="btn btn-block btn-primary compose-mail" href="<%= new_message_path %>">Write Post</a>
    <div class="space-25"></div>
    <h5>Folders</h5>
    <ul class="folder-list m-b-md" style="padding: 0">
        <li><a href="#"> <i class="fa fa-inbox "></i> Scheduled <span class="label label-danger pull-right">4</span> </a></li>
        <li><a href="#"> <i class="fa fa-envelope-o"></i> Posted</a></li>
        <li><a href="#"> <i class="fa fa-certificate"></i> Top Commented</a></li>
        <li><a href="#"> <i class="fa fa-file-text-o"></i> Top Reacted</a></li>
        <li><a href="#"> <i class="fa fa-trash-o"></i> Trash</a></li>
    </ul>
    <h5>Categories</h5>
    <ul class="category-list" style="padding: 0">
        <li><a href="#"> <i class="fa fa-circle text-navy"></i> Work </a></li>
        <li><a href="#"> <i class="fa fa-circle text-danger"></i> Politics</a></li>
        <li><a href="#"> <i class="fa fa-circle text-primary"></i> Social</a></li>
        <li><a href="#"> <i class="fa fa-circle text-info"></i> Advertising</a></li>
        <li><a href="#"> <i class="fa fa-circle text-warning"></i> Clients</a></li>
    </ul>

    <h5 class="tag-title">Tags</h5>
    <ul class="tag-list" style="padding: 0">
        <li><a href="#">#cats</a></li>
        <li><a href="#">#work</a></li>
        <li><a href="#">#dogs</a></li>
        <li><a href="#">#music</a></li>
        <li><a href="#">#photography</a></li>
    </ul>
    <div class="clearfix"></div>
</div>
