<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <%= render 'aside' %>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= content_for :javascript do %>
    <script type="text/javascript">
        $(document).ready(function() {
            console.log("ready");
            $('#calendar').fullCalendar({
                events: [
                  <% @messages.each do |message|  %>
                    {
                        start  : "<%= message.when.nil?? DateTime.now : message.when  %>",
                        description: '<%= message.content %>'
                    },
                  <% end %>
                ],
                // eventClick: function(calEvent, jsEvent, view) {
                //     alert('Event: ' + calEvent.description);
                // }
            })
        });
    </script>
<% end %>
