/*
 * Color palette
 * ----------------------------------------------------- */


$white: 		#ffffff;
$black: 		#000000;

$facebook:      #5d82d1;
$twitter:       #40bff5;
$googleplus:    #eb5e4c;
$youtube:       #ef4e41;

$red: 			#C1111E;
$light-red: 	#FE3C46;
$lighter-red:   #ff0506;

$new-green:     #2ca486;
$green: 		#63a287;
$light-green:	#246150;
$lighter-green: #5f9d82;
$lightest-green:#6ce2a4;

$darker-gray:   #d6d6d6;
$dark-gray: 	#212020;
$gray: 			#282828;
$mlight-gray:   #4b4d4d;
$light-gray: 	#383A3A;
$lighter-gray: 	#eaeaea;
$lightest-gray: #e9ebed;