<div class="file-manager">
    <a class="btn btn-block btn-primary compose-mail" href="<%= new_birthday_path %>">Schedule Birthday Message</a>
    <div class="space-25"></div>
    <h5>Folders</h5>
    <ul class="folder-list m-b-md" style="padding: 0">
        <li><a href="<%= birthdays_path %>"> <i class="fa fa-inbox "></i> Upcoming Birthdays </a></li>
        <li><a href="<%= scheduled_birthdays_path %>"> <i class="fa fa-certificate"></i> Scheduled</a></li>
        <li><a href="<%= saved_birthdays_path %>"> <i class="fa fa-envelope-o"></i> Saved</a></li>
    </ul>
    <div class="clearfix"></div>
</div>
