<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-content mailbox-content">
					<%= render 'aside' %>
				</div>
			</div>
		</div>
		<div class="col-lg-9 animated fadeInRight">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="row">
						<div class="col-lg-2">
							<a href="#">
								<img class="img-responsive" src="http://placehold.it/100x100"alt="">
							</a>
						</div>
						<div class="col-lg-10">
							<p>Fulano 07/07/2017</p>
							<div class="input-group">
								<textarea class="form-control h-100"></textarea>
								<span class="input-group-addon btn btn-primary">Schedule</span>
							</div>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-lg-2">
							<a href="#">
								<img class="img-responsive" src="http://placehold.it/100x100"alt="">
							</a>
						</div>
						<div class="col-lg-10">
							<p>Ciclano 08/07/2017</p>
							<div class="input-group">
								<textarea class="form-control h-100"></textarea>
								<span class="input-group-addon btn btn-primary">Schedule</span>
							</div>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-lg-2">
							<a href="#">
								<img class="img-responsive" src="http://placehold.it/100x100"alt="">
							</a>
						</div>
						<div class="col-lg-10">
							<p>Beltrano 09/07/2017</p>
							<div class="input-group">
								<textarea class="form-control h-100"></textarea>
								<span class="input-group-addon btn btn-primary">Schedule</span>
							</div>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-lg-2">
							<a href="#">
								<img class="img-responsive" src="http://placehold.it/100x100"alt="">
							</a>
						</div>
						<div class="col-lg-10">
							<p>Amigo X 10/07/2017</p>
							<div class="input-group">
								<textarea class="form-control h-100"></textarea>
								<span class="input-group-addon btn btn-primary">Schedule</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>