<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-content mailbox-content">
					<%= render 'aside' %>
				</div>
			</div>
		</div>
		<div class="col-lg-9 animated fadeInRight">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="row">
						<div class="col-lg-12">
							<textarea readonly class="form-control h-100">Feliz aniversário Fulano!! Tudo de bom pra você! :)</textarea>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-lg-12">
							<textarea readonly class="form-control h-100">Feliz aniversário Ciclano!! Aproveite o seu dia! :]
							</textarea>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-lg-12">
							<textarea readonly class="form-control h-100">Parabéééns Beltrano!!
							</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>